<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/bootstrap-cdn.ejs') %>
    <link rel="stylesheet" href="css/main.css">
    <title>Open Bugs </title>
</head>
<body>
    <%- include('../partials/navbar.ejs', {active: "Open Bugs"}) %>
    <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Open Bugs</h1>
                    <p class="lead">"Testing proves a programmer’s failure. Debugging is the programmer’s vindication."</p>
                    <small> - Boris Beizer </small>
                </div>
            </div>
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th>Project Name</th>
                      <th>Bug Description</th>
                      <th>Bug Edit Link</th>
                      <th>Bug Close Link</th>
                    </tr>
                  </thead>
                  <tbody id="openBugTable">
                      <% bugs.forEach(bug => { %>
                        <tr>
                            <td> <%= bug.projectName %> </td>
                            <td> <%= bug.description %> </td>
                            <td> <a href=<%= "/open-bugs/edit/" + bug.id %> > Edit Bug  </a>  </td>
                            <td> <a href=<%= "/open-bugs/" + bug.id %> > Close Bug  </a>  </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                
        </div>
</body>
</html>